<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>It Takes A City</title>
        {{!-- GOOGLE FONTS --}}
            <style>
            @import url('https://fonts.googleapis.com/css2?family=Chivo&family=Lora:wght@700&family=Open+Sans:wght@600&display=swap');
        </style>
        <link rel="stylesheet" href="/stylesheets/style.css">
        {{!-- FAVICON --}}
        <link rel="icon" type="image/x-icon" href="FAVICON TO GO HERE"/>
    </head>
    <body>
        <div class="wrapper">
            <header>
                <h1>
                    <a href="/"> Homepage </a>
                </h1>
                <nav>
                    {{#if loggedIn}}
                    <a href="/dashboard"> Dashboard </a>
                    <button id="logout" class="btn-no-style">Logout</button>
                    {{else}}
                    <a href="/login">Login</a>
                    {{/if}}
                </nav>
            </header>
            <main>
                {{body}}
            </main>
            <footer>
                Made by ©️ Team 🍀
            </footer>
        </div>
        {{#if loggedIn}}
        <script src="/javascript/logout.js"></script>
    </body>
</html>