<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>It Takes A City</title>
        {{!-- GOOGLE FONTS --}}
            <style>
            @import url('https://fonts.googleapis.com/css2?family=Chivo&family=Lora:wght@700&family=Open+Sans:wght@600&display=swap');
        </style>
        <link rel="stylesheet" href="/stylesheets/style.css">
        {{!-- FAVICON --}}
    </head>
</html>