<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<%- include('partials/header') -%>

  <% if (locals.isAuthenticated) { %>
    <div class="AboutUs margin-left: 0px;">
      <h1 class="italic">About Us</h1>
      <p class="pt-1">These are food bank locations you can add them and their addresses, any post help people in need,
        Thanks!</p>
    </div>
    <div class="posts space-y-11">

    </div>
    <% } %>

      <%- include('partials/footer') -%>
        <script>
          function getPosts() {
            var postContainer = document.querySelector(".posts");
            console.log(postContainer)
            var requestUrl = "http://localhost:3000/api/posts/"
            fetch(requestUrl)
              .then(function (response) {
                return response.json();
              })
              .then(function (data) {
                for (var i = 0; i < data.length; i++) {
                  //Using console.log to examine the data
                  
                  var locationAddress = document.createElement("h2");
                  var userPost = document.createElement("p");
                  var locationName = document.createElement("h1");
                  var userNameComment = document.createElement("p");
                  var comments = document.createElement("p");
                  var commentInput = document.createElement("input");
                  var commentButton = document.createElement("button");
                  comments.classList.add('comments', "ml-10", "text-base");
                  userNameComment.classList.add('userNameComments', 'ml-10', "text-lg",);
                  userPost.classList.add("text-base", "bold")
                  locationAddress.classList.add("italic", "text-base")
                 

                  //Setting the text of the h3 element and p element.
                  locationName.textContent = data[i].content;
                  locationAddress.textContent = data[i].title;
                  userPost.textContent = data[i].user.username;


                  //Appending the dynamically generated html to the div associated with the id="users"
                  //Append will attach the element as the bottom most child.
                  postContainer.append(locationAddress);
                  postContainer.append(userPost);
                  postContainer.append(locationName);
                  postContainer.innerHTML+="<input id="+data[i].id+">"+"<button type='button' class='btn, btn-primary'>"+"Add Post"+"</button>";
                  for(var x=0;x<data[i].comments.length;x++){
                  userNameComment.textContent = data[i].comments[x].user.username;
                  comments.textContent = data[i].comments[x].comment_text;
                  postContainer.innerHTML+= "<p class='ml-10', 'text-lg'>" + userNameComment.textContent + "<br/>";
                  postContainer.innerHTML+= "<p class='ml-10', 'text-base'>" + comments.textContent+ +"</p>";
                  }

                }
              });
          }
          getPosts();

        </script>