<%- include('partials/header') -%>

<% if (locals.isAuthenticated) { %>
   <div class="posts">
    <button class="loadPosts" id="fetch-button">Click me</button>
   </div>
   <script type="javascript" src="/javascripts/script.js"></script>
<% }  %>

<%- include('partials/footer') -%>
