<head>

</head>
<%- include('partials/header') -%>

  <% if (locals.isAuthenticated) { %>
    <div class="AboutUs margin-left: 0px;">
      <h1 class=" py-5 text-xl">About Us</h1>
      <p class="font-medium">These are resources shared by those in our community - we hope these help you!
      </p>
    </div>
    <div class=" py-5 posts">

    </div>
    <% } %>

      <%- include('partials/footer') -%>
        <script>
          function getPosts() {
            var postContainer = document.querySelector(".posts");
            console.log(postContainer)
            var requestUrl = "http://localhost:3000/api/posts/"
            fetch(requestUrl)
              .then(function (response) {
                return response.json();
              })
              .then(function (data) {
                for (var i = 0; i < data.length; i++) {
                  //Using console.log to examine the data
                  var x = 0
                  var locationAddress = document.createElement("h2");
                  var userPost = document.createElement("p");
                  var locationName = document.createElement("h1");
                  userPost.classList.add("text-base", "text-lg", "bold", "py-5")
                  locationAddress.classList.add("semibold", "text-xl", "text-base", "py-5")

                  //Setting the text of the h3 element and p element.
                  locationName.textContent = data[i].content;
                  locationAddress.textContent = data[i].title;
                  userPost.textContent = data[i].user.username;


                  //Appending the dynamically generated html to the div associated with the id="users"
                  //Append will attach the element as the bottom most child.
                  postContainer.append(locationAddress);
                  postContainer.append(locationName);
                  for (x = 0; x < data[i].comments.length; x++) {
                    // for loop to add comments after each post
                    var userNameComment = document.createElement("p");
                    var comments = document.createElement("p");
                    userNameComment.classList.add('userNameComments', 'ml-10', "text-lg");
                    comments.classList.add('comments', "ml-10", "text-base");
                    userNameComment.textContent = data[i].comments[x].user.username;
                    comments.textContent = data[i].comments[x].comment_text;
                    postContainer.append(userNameComment);
                    postContainer.append(comments);
                  }
                }
              });
          }
          getPosts();

        </script>