<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<! -- Adds Header -->
<%- include('partials/header') -%>
<! -- Checks if Authenticated -->
  <% if (locals.isAuthenticated) { %>
    <div class="AboutUs margin-left: 0px;">
      <h1 class=" py-5 text-xl">About Us</h1>
      <p class="font-medium">These are resources shared by those in our community - we hope these help you!
      </p>
    </div>
    <div class="py-5 posts">
      <button href="/profile"class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">Add Post</button>

    </div>
    <! -- If Not Authenticated -->
    <% } else { %>
      <p class="py-5 text-xl font-medium">You are not currently logged in and will be unable to see posts. Please <a
          class="hover:text-blue-600" href="/login">login </a> to continue!</p>

      <% } %>

        <%- include('partials/footer') -%>
        <script>
          // Functions used in the main page
          function getPosts() {
            var postContainer = document.querySelector(".posts");
            console.log(postContainer)
            var requestUrl = "http://localhost:3000/api/posts/"
            fetch(requestUrl)
              .then(function (response) {
                return response.json();
              })
              .then(function (data) {
                for (var i = 0; i < data.length; i++) {
                  //Using console.log to examine the data
                  var userPost = document.createElement("h2");
                  var userNamePost = document.createElement("p");
                  var description = document.createElement("h1");
                  var userNameComment = document.createElement("p");
                  var comments = document.createElement("p");
                  var commentInput = document.createElement("input");
                  var commentButton = document.createElement("button");
                  comments.classList.add('comments', "ml-10", "text-base");
                  userNameComment.classList.add('userNameComments', 'ml-10', "text-lg",);
                  userNamePost.classList.add("text-base", "text-lg", "bold", "py-2")
                  userPost.classList.add("semibold", "text-xl", "text-base", "py-2")

                  //Setting the text of the h3 element and p element.
                  description.textContent = data[i].content;
                  userPost.textContent = data[i].title;
                  userNamePost.textContent = data[i].user.username;


                  //Appending the dynamically generated html
                  //Append will attach the element as the bottom most child.
                  postContainer.append(userPost);
                  postContainer.append(userNamePost);
                  postContainer.append(description);
                  //Appends an input field and a button for comments on each post and dynamically grabs each id indvidual to each post id
                  //Appends all comments using innerHtml
                  for(var x=0;x<data[i].comments.length;x++){
                  userNameComment.textContent = data[i].comments[x].user.username;
                  comments.textContent = data[i].comments[x].comment_text;
                  postContainer.innerHTML+= "<p class='ml-10 text-lg font-medium'>" + userNameComment.textContent + "</p>";
                  postContainer.innerHTML+= "<p class='ml-10 mb-1 text-base'>" + comments.textContent+"</p>";
                  }
                  postContainer.innerHTML+="<input type='text' id="+data[i].id+"comment"+" name='comment-text' class=' mb-2 form-control block h-half w-full px-3py-1.5 text-basefont-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none'>"+"<button onclick='addComment()''  id="+data[i].id+"  type='submit' class='bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full'>"+"Add Comment"+"</button>";
                }
              });
          }
          getPosts();

         
  function addComment(){
    // Sets comment to query selector with comment-text
    const comment_text = document.getElementById(event.srcElement.id+"comment").value;
 

    // sets post ID for the comment, currently hardcoded to 4
    const post_id = event.srcElement.id;
  
    // Response for POST
    const response = fetch(`/api/comments`, {
      method: "POST",
      body: JSON.stringify({
        comment_text,
        post_id
      }),
      headers: {
        "Content-Type": "application/json",
      },
    });
  
    // If Response is OK - do the following
    if (response.ok) {
      document.location.replace("/");
    } else {
      //returns error for no reason still working on it, even though it works
      //!!!!!!!!!!!!!!!!!!
      document.location.replace("/");
    }
  }

        </script>
