<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <! -- Adds Header -->
  <%- include('partials/header') -%>
  <! -- Checks if Authenticated -->
    <% if (locals.isAuthenticated) { %>
      <div class="AboutUs margin-left: 0px;">
        <h1 class="underline py-5 text-xl">About Us</h1>
        <p class="text-xl">Hi, this is a site where you can post resources to help the less fortunate in the community,
          feel free to add food banks, homeless shelters, and places to help get jobs, no one does it alone, It Takes A City!
        </p>
      </div>
      <div class="py-5 locations">
        <button onclick="window.location.href='/profile'" class=" w-full bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">Add Post</button>
  
      </div>
      <! -- If Not Authenticated -->
      <% } else { %>
        <p class="py-5 text-xl font-medium">You are not currently logged in and will be unable to contributes. Please <a
            class="hover:text-blue-600" href="/login">login </a> to continue!</p>
            <div class="py-5 locations">
            </div>
        
        <% } %>
  
          <%- include('partials/footer') -%>
          <script src="./javascript/locations.js"></script>
  