/* Font size larger for H1 */
h1{
    font-size: larger;
}
/* Font size large for H2 */
h2{
    font-size: large;
}
/* Comments class - margin left and bolded  */
.comments{
    margin-left: 10%;
    font-weight: bold;
}
/* userNameComments class - margin left */

.userNameComments{
    margin: 10%;
}